html,
body {
  margin: 0;
  height: 100vh;
}
header{
  background-color: Black;
}
#logo_new{
  margin-left: 552px;
  margin-top: 8px;
}
#Logitech{
  width: 300px;

}

.souris{
  margin-left: 167px;
  margin-top: 105px;
}
#logo{
  width: 20px;
  margin-top: 15px;

}
#footer1{
  position:absolute;
  bottom:0px;
  width: 100%;
  background-color: #f2f2f2;
  height: 50px;

}
.icones {
  margin-left: 43%;
  display: inline;
  margin-top: 10px;
}



#Logitech1{
  width: 200px;
  margin-left: 60px


}
#Logitech2{
  width: 200px;
  margin-left: 60px;


}
#Logitech3{
  width: 200px;
  margin-left: 95px;


}


#footer{
  position: inherit;
  bottom:0px;
  width: 100%;
  background-color: #f2f2f2;
  height: 50px;

}
nav{
  background-color: #333333;
  width: 100%;
  color: white;
  text-align: center;
}
nav > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.souri-1{
  opacity: 0.3;
}
.souri-2{
  margin-left: 70px;
  opacity: 0.3;
}

.souri-3{
  margin-left: 95px;
  opacity: 0.3;
}
.souri-1:hover{
  opacity: inherit;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 8px;
}
.souri-2:hover{
  opacity: inherit;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 8px;
}
.souri-3:hover{
  opacity: inherit;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 8px;
}
.Global{
  display: -moz-grid-line;
  margin-left: 4%;
  margin-top: 50px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}
h1{
  text-align: center;
}
@media (max-width: 640px) {
#logo_new
{
  margin-left: 20%;
}
footer{
margin-bottom: 0px;
}
.souris{
  margin-left: 0px;
}
footer{
  display: none;
}
header{
  width: 100%;
}
table,
 tbody,
 tr,
 td {
   display: block;
   width: auto!important;
   /* parceque tu as mis des style inline grrr */
 }
}
